<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}"/>
        </Console>
        <Log4j2Appender name="Log4j2Appender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Log4j2Appender>
    </Appenders>
    <Loggers>
        <Logger name="com.mchange" level="error"/>
        <Logger name="org.umlg.sqlg" level="debug"/>
        <Logger name="hsqldb.db" level="warn"/>
        <Root level="debug">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="Log4j2Appender" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
